.footer {
 background-color: #312e50;
    color: #f7e8e0;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    p{
        background-color: #312e50;
        font-size: 20px; 
    }
.button {
        background-color: #d32f63;
        color: #f7e8e0;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;

        a,
        a::after {
            color: #f7e8e0;
            background: transparent;
            text-decoration: none;


        }}}

    