.body {
    background-color: #46426e;
    width: auto;
    height: 100vh; 

    font-family :Arial, Helvetica, sans-serif; 
    color: #f7e8e0; 
  display: flex; 
  flex-direction: column;

        align-items: center;
        justify-content: center;
    h1{
       color : #d32f63 ; 
    }

    .presentation{
        display: flex; 
        align-items: center;
        justify-content: center;
       
    }
.photo{
    .pdp{
      width : 100%; 
      height :70%;
      
      border-radius: 119px 200px 120px 82px;
      border : 6px ridge #d32f63
    }

    p{
        margin-left: 18% ; 
        margin-top : 5%; 
        font-size: 20px;
    }
}
}

