.body {
    background-color: #46426e;
    width: auto;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    color: #f7e8e0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: -10% auto;

    h1 {
        color: #d32f63;
    }

    .presentation {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .phrasedaccroche {
            font-size: 20px;
            margin: 4%;
            width : 100%;
        }
    }

    .photo {
       
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .pdp {
            width: 60%;
            height: auto;



            border-radius: 119px 200px 120px 82px;
            border: 6px ridge #d32f63
        }

        p {
            
            margin-top: 4%;
            margin-bottom: 4%;
            font-size: 20px;
        }
    }

.nom {
            color: #d32f63;
        }

        .titre {
            color: #f7e8e0;
        }
}