.body {

    background-color: #46426e;
    width: auto;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    color: #f7e8e0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: -10% auto;



    h1,
    h3 {
        color: #d32f63;
    }

    h2 {
        color: #f7e8e0;
    }

    .presentation {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .phrasedaccroche {
            font-size: 20px;
            margin: 4%;
            width: 100%;
        }
    }

    .photo {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .pdp {

            margin-top: 20%;
            width: 40%;
            height: auto;



            border-radius: 119px 200px 120px 82px;
            border: 6px ridge #d32f63
        }

        p {

            margin-top: 4%;
            margin-bottom: 4%;
            font-size: 20px;
        }
    }

    .nom {
        color: #d32f63;
    }

    .titre {
        color: #f7e8e0;
    }

    .button {
        background-color: #d32f63;
        color: #f7e8e0;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;

        a,
        a::after {
            color: #f7e8e0;
            background: transparent;
            text-decoration: none;


        }
    }

    .parcoursContainer {
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: #292644 2px solid;
        border-radius: 10px;
        padding: 5%;
    }

    .parcours {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;



        .parcours1 {
            width: 60%;
            height: auto;
            margin-top: 4%;
            margin-bottom: 4%;
            font-size: 20px;
            border: #f7e8e0 2px solid;
            padding: 3%;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(211, 47, 99, 0.4);
        }
    }



    .competencesContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .competences {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
            height: auto;
            border: #f7e8e0 2px solid;
            margin-top: 4%;
            border-radius: 10px;

            img {
                width: 10%;
                height: auto;
                margin: 10px;
            }
        }

    }

    .accueilContainer {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 4%;
        margin-bottom: 4%;

    }
}